name: Daily Post
on:
  schedule:
    - cron: '0 0 * * *'
  workflow_dispatch:
jobs:
  run:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v4
        with: { python-version: '3.12' }
      - run: |
          sudo apt-get update
          sudo apt-get install -y google-chrome-stable
          pip install selenium
      - run: python bot2.py
      - name: Upload Links
        uses: ncipollo/release-action@v1
        with:
          allowUpdates: true
          artifactErrorsFailBuild: false
          artifacts: "realtime_links.txt"
          tag: latest
          token: ${{ secrets.GITHUB_TOKEN }}
