name: Daily Post - Playwright
on:
  schedule:
    - cron: '0 0 * * *'
  workflow_dispatch:

jobs:
  run:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v4
        with: { python-version: '3.12' }
      - run: pip install -r requirements.txt
      - run: playwright install chromium --with-deps
      - run: python bot2.py
      - uses: ncipollo/release-action@v1
        with:
          allowUpdates: true
          artifacts: realtime_links.txt
          tag: latest
          token: ${{ secrets.GITHUB_TOKEN }}
