name: Daily Post
on: [workflow_dispatch]

jobs:
  run:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v4
        with: { python-version: '3.12' }
      - uses: browser-actions/setup-chrome@v1
        with: { chrome-version: stable }
      - run: pip install selenium
      - run: python bot2.py
      - uses: ncipollo/release-action@v1
        with:
          allowUpdates: true
          artifacts: realtime_links.txt
          tag: latest
          token: ${{ secrets.GITHUB_TOKEN }}
